# bare git repo alias
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

alias l='ls -AlF'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Bash command aliases
alias upp='sudo /bin/sh -c "apt update && apt upgrade && apt autoremove && apt autoclean"'
alias source_bash='source $HOME/.bashrc'
alias hgrep='history|grep'
alias agrep='alias|grep'
alias apti='sudo apt install'
alias g='git'

# Directories
alias proj='cd ~/projects'
alias nfig='cd ~/.config/nvim'

# Services
alias serve='live-server --verbose'
alias pg_start='sudo service postgresql start'
alias docker_ubuntu='sudo docker run  -ti --rm ubuntu:22.04 /bin/bash'
