[core]
	excludesfile = ~/.gitignore

[user]
	name  = Foo Bar
	email = foo@bar.com

[alias]
	st    = status -sb
	br    = branch --all --verbose
	co    = checkout
	cob   = checkout --branch
	l     = log --graph --oneline
	lg    = log --graph
	ls    = ls-files
	alias = config --get-regexp '^alias\\.'
	conf  = config --list
	cl    = clone --recurse-submodules
	su    = submodule update
	cm    = commit -m
  d     = diff
  dh    = diff HEAD
